<body>
<div>
    <link rel="stylesheet" href="../../../site/assets/css/contentimporter.css"
          data-th-href="${portal.assetUrl({'_path=css/contentimporter.css'})}"
          type="text/css" media="all"/>

    <div class="content-importer-widget">
        Content Importer Widget
    </div>
</div>
</body>
<script data-th-src="${portal.assetUrl({'_path=js/contentimporter.js'})}"></script>
