<aside id="content-importer-widget-importfile" class="content-importer-widget content-importer-widget-importfile">
    <div data-th-if="${#lists.isEmpty(lines)}">
        <p>Select a file to import.</p>
    </div>

    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr data-th-if="${headerColumns}">
                    <th data-th-each="headerColumn : ${headerColumns}" data-th-text="${headerColumn}">
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table>
            <tr data-th-each="line: ${lines}">
                <td data-th-each="column : ${line}">
                    <span data-th-text="${column}"/>
                </td>
            </tr>
        </table>
    </div>
</aside>