<aside id="content-importer-widget-importpanel" class="content-importer-widget content-importer-widget-importpanel">
    <button type="button" data-th-attr="data-componenturl=${componentUrl}">Import!</button>
</aside>
<script data-th-src="${portal.assetUrl({'_path=js/importpanel.js'})}"></script>